

/* (amondejar) */
/* Barras de progreso */

#progress-back {
    border-radius: 25px;
    margin-bottom: auto;
}

.progress-li{
    border-radius: 25px;
	min-width: 200px;
	padding-top: 15px;"
}

button.btn-circle {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 0px 0;
  font-size: 10px;
  line-height: 1.428571429;
  border-radius: 6px;
  margin-top: 8px;
}

a.btn {
  padding: 1px 12px !important;
}

.row-margin-bottom{
	margin-bottom: 15px;
}

.text-big {
  font-size: 23px; 
}

img.img-shop {
  display: block;
  max-width: 100%;
}
a.img-shop {
  display: block;
  max-width: 10%;
}

img.img-edicion {
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.gallery-header {
  text-align: center;
  padding: 32px;
}

.gallery-row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  margin-bottom: 3%;
}

.gallery-column {
  -ms-flex: 15%; /* IE10 */
  flex: 12%;
  max-width: 13%;
  padding: 0 4px;
}

.gallery-column .gallery-img {
  margin-top: 8px;
  vertical-align: middle;
  height: 76%;
}



@media screen and (max-width: 1000px) {
  .gallery-column {
    -ms-flex: 35%;
    flex: 35%;
    max-width: 35%;
  }
  .gallery-column .gallery-img {
    height: 70%;
  }
}

@media screen and (max-width: 700px) {
  .gallery-column {
    -ms-flex: 75%;
    flex: 75%;
    max-width: 75%;
  }
  .gallery-column .gallery-img {
    height: 60%;
  }
}

.vcenter {
  position: absolute;
  transform: translateY(50%);
}

/*https://codepen.io/anon/pen/ywJBqQ*/
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.selectedimage {
  opacity: 0.4;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 0.8em 0.8em;
  /*padding: 50px 20px;*/
  background: none !important;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #333;
  text-align: center;
  position: relative;
  font-size: 17px;
  overflow: hidden;
  padding: 3% 0;
  background-color: transparent;
  margin-top: 20%;
  margin-bottom: 20%;
}

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #333;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect h4 {
  margin-top: 10%;
  font-size: 1vw;
  margin-bottom: 10%;
}

.hovereffect a, .hovereffect p {
  color: #333;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect:hover p {
  font-size: 2vw;
  font-weight: bold;
}

/* Imagen con número en la esquina */
.bell {
  display: inline-block;
  position: relative;
  text-align: right;
}

.bell b{
  display: flex;
  min-width: 54px;
}

.bellnumbers {
  position: absolute;
  top: 3px;
  font-size:15px;
  font-weight: bold; 
  background-color: cornflowerblue;
  width: 28px;
  text-align: center;
  color:#EE5;
  z-index: 2;
  border-radius: 6px;
}

.nivel-home {
  text-align: center;
  display: inline-block;
  font-weight: bold;
  font-size: xx-large;
  line-height: 1.2;
  /*letter-spacing: -.00278rem;*/
  -webkit-font-smoothing: antialiased;
  text-shadow: 0px 3px 2px rgba(0,0,0,0.4),
               0px 4px 9px rgba(0,0,0,0.1),
               0px 10px 20px rgba(0,0,0,0.1)
}

a.btn-luchar {
  margin-top: 10px;
  padding: 10px 12px !important;
}